{{ define "main" }}

<header class="page-header">

    <p class="eyebrow">{{ upper .Section }}</p>

    <h1>{{ .Title }}</h1>

    {{ with .Content }}
        <div class="page-description">
            {{ . }}
        </div>
    {{ end }}

</header>

<div class="post-list">

    {{ range .Pages.ByDate.Reverse }}

    <article class="post-card">

        <div class="post-card-meta">
            {{ .Date.Format "2 January 2006" }}
        </div>

        <h2>
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
        </h2>

        <p>{{ .Summary }}</p>

    </article>

    {{ end }}

</div>

{{ end }}